h1 {

    font-family: Trebuchet MS;
    color:rgb(30, 31, 31);
    font-size: 500%;
}
h2 {

    font-family: Trebuchet MS;
    color:rgb(30, 31, 31);
    font-size: 300%;
}
body{

    text-align: center;
    background-image:url(bg.jpg);
    background-size: 100%;
}
img{

    width: 400px;
    height: 140px;
   

}